* {
  border: none;
  box-sizing: border-box;
  color: inherit;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  max-width: 1216px;
  width: 100%;
}