@media(max-width: 1200px) {
  .s-hero .container .text {
    max-width: 49%;
  }

  .s-card-feat .cards {
    width: 100%;
  }

  .s-card-feat .cards .card {
    width: 32%;
  }
}

@media(max-width: 991px) {
  header nav {
    display: none;
  }

  header .menu-mobile {
    display: block;
  }
  
  .s-hero .container {
    flex-direction: column;
  }

  .s-hero .container .text {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    max-width: 100%;
  }

  .s-hero .container .text h1,
  .s-hero .container .text p  {
    text-align: center;
  }

  .s-card-feat .cards {
    flex-direction: column;
  }

  .s-card-feat .cards .card {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 3rem;
    margin-bottom: 2rem;
  }

  .s-card-feat .cards .card .info {
    max-width: 100%;
    margin-top: 2rem;
  }

  .s-card-feat .cards .card:last-child {
    margin-bottom: 0;
  }
}

@media(max-width: 768px) {
  
}

@media(max-width: 600px) {
  
}

@media(max-width: 480px) {
  html {
    font-size: 55%;
  }

  header .logo {
    max-width: 13rem;
  }

  .s-hero {
    padding: 4rem 0;
  }

  .s-hero .container .text h1 {
    font-size: 4.2rem;
  }

  .s-hero .container .text p {
    margin-bottom: 3rem;
  }

  .s-hero .container .image {
    height: 30rem;
  }

  .s-hero .container .image img {
    max-width: 100%;
  }

  .s-card-feat {
    padding: 4rem 0;
  }

  .s-card-feat .title p {
    max-width: 80%;
    text-align: center;
  }

  .s-card-feat .main-area {
    padding-bottom: 4rem;
  }
}