/* header style */

header {
  background-color: var(--gray-color-800);
  width: 100%;
  height: 8.8rem;
  display: flex;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  align-items: center;
  display: flex;
}

header nav ul {
  display: flex;
  margin-right: 3.2rem;
}

header nav ul li {
  margin-left: 3.2rem;
}

header nav ul li:first-child {
  margin-left: 0;
}

header nav .btn-primary {
  padding: 0.9rem 3.4rem;
}

header .menu-mobile {
  display: none;
}


/* hero section style */

.s-hero {
  padding: 7.2rem 0;
}

.s-hero .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.s-hero .container .text {
  max-width: 64rem;
  width: 100%;
}

.s-hero .container .text h1 {
  margin-bottom: 2rem;
}

.s-hero .container .text p {
  color: var(--gray-color-300);
  font-size: 1.8rem;
  line-height: 150%;
  margin-bottom: 5.6rem;
  max-width: 48.8rem;
}

.s-hero .container .btn-primary {
  padding: 2rem 4rem;
}

.s-hero .container .image {
  align-items: center;
  background-color: var(--gray-color-800);
  display: flex;
  height: 49.6rem;
  justify-content: center;
  max-width: 48.8rem;
  width: 100%;
}


/* feature cards section */

.s-card-feat {
  background-color: var(--gray-color-100);
  padding-bottom: 12rem;
  padding-top: 10.4rem;
}

.s-card-feat p {
  color: var(--white-text);
}

.s-card-feat .main-area {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 12.2rem;
}

.s-card-feat .title {
  display: flex;
  flex-direction: column;
}

.s-card-feat .title p {
  margin-top: 0.8rem;
}

.s-card-feat .title.center {
  align-items: center;
}

.s-card-feat .cards {
  display: flex;
  justify-content: space-between;
  margin-top: 4.8rem;
}

.s-card-feat .cards .card {
  align-items: center;
  background-color: var(--gray-color-200);
  display: flex;
  flex-direction: column;
  height: 38.2rem;
  max-width: 38.4rem;
  width: 100%;
  padding-top: 6.4rem;
}

.s-card-feat .cards .card.white {
  background-color: var(--white);
}

.s-card-feat .cards .card.white h3 {
  color: var(--gray-color-100);
}

.s-card-feat .cards .card.white p {
  color: var(--gray-color-300);
}

.s-card-feat .cards .card .info {
  margin-top: 4rem;
  text-align: center;
  max-width: 28.8rem;
}

.s-card-feat .cards .card .info p {
  margin-top: 0.8rem;
  line-height: 150%;
}